.boxscore {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: inline-block;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    min-width: 30px;
    min-height: 30px;
    box-sizing: border-box;
    padding: 10px 5px;
}

.grey-background {
    background-color: #efefef;
}

.bold {
    font-weight: bold;
}

.score-box {
    padding: 10px 20px;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}
